.header {
  background-color: #ffffff;
  background: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.header__title {
  max-width: 729px;
  margin: 183px 0 28px 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 0 0 0 80px;
  max-width: 638px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  display: flex;
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin: auto 80px 40px 80px;
}

.header__paragraph {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
